.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: #0147a6;
  color: #fff;
  outline: none;
  border-right: 1px solid #fff;
  vertical-align: middle;
  padding: 5px 10px;
  transition: 0.3s linear;
}


