.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: #0147a6;
  color: #fff;
  outline: none;
  border: none;
  vertical-align: middle;
  padding: 5px 10px;
  transition: 0.3s linear;
}

.button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
