.sideblock {
  height: 100%;

  &-body {
    padding: 10px;
    display: flex;
    flex-direction: column;

    background: #dcdcdc;
  }

  img {
    width: 100%;
  }

  h2 {
    text-align: center;
    margin: 10px 0;
  }


  .submit-btn {
    background: #900;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 0 auto;
    color: #fff;
    transition: 0.3s linear;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 1024px) {
  .sideblock {
    display: none;
  }
}
