.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 11;

  &-content {
    background: #ffffff;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    border-radius: 4px;
    padding: 5px;
  }

  &-close {
  }
}
