.footer {
  display: flex;
  justify-content: space-between;

  img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
  }
}
