.footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}
