.admin {
  display: flex;
  min-height: 100vh;
  font-size: 1.3rem;

  .form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  input {
    height: 40px;
    border: 1px solid gray;
  }
  textarea {
    border: 1px solid gray;
  }

  label {
    margin-bottom: 10px;
  }

  h2 {
    margin-bottom: 20px;
  }

  main {
    width: 100%;
    padding: 20px;
  }

  button {
    border: 1px solid green;
    margin-bottom: 10px;
    transition: 0.3s linear;

    &:hover {
      background: #4285f4;
      color: #fff;
    }
  }
}

.row {
  display: flex;
}

.sb {
  justify-content: space-between;
}

.fill {
  width: 100%;
}

.mb {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.col {
  display: flex;
  flex-direction: column;
}

.border {
  border: 1px solid gray;
}

.bg-gray {
  background: rgba(0, 0, 0, 0.2);
}

.p-10 {
  padding: 10px;
}

.big-btn{
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  background: #0147a6;
  color: #ffffff;
}
.a-center{
  align-items: center;
}

.center {
  justify-content: center;
}
